In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1820,tt0212338,55000000,330444045,Meet the Parents,Ben Stiller|Robert De Niro|Teri Polo|Blythe Da...,Jay Roach,First comes love. Then come the interrogation.,"Greg Focker is ready to marry his girlfriend, ...",108,Comedy|Romance,DreamWorks SKG|Universal Pictures|Tribeca Prod...,10/5/2000,6.5,2000
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009
667,tt0811138,62000000,41819064,The Love Guru,Mike Myers|Jessica Alba|Justin Timberlake|Roma...,Marco Schnabel,His Karma is Huge,Born in America and raised in an Indian ashram...,87,Comedy|Romance,Paramount Pictures|Goldcrest Pictures|Internat...,6/20/2008,4.5,2008
1055,tt1764183,12000000,35485056,Arbitrage,Richard Gere|Susan Sarandon|Tim Roth|Brit Marl...,Nicholas Jarecki,Power is the best alibi.,"A troubled hedge fund magnate, desperate to co...",100,Drama|Thriller,Lionsgate|Artina Films|Lucky Monkey Pictures|G...,9/14/2012,5.9,2012
722,tt1201607,125000000,1327817822,Harry Potter and the Deathly Hallows: Part 2,Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...,David Yates,It all ends here.,"Harry, Ron and Hermione continue their quest t...",130,Adventure|Family|Fantasy,Warner Bros.|Heyday Films|Moving Picture Compa...,7/7/2011,7.7,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {
    '1':''
} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
# добавление столбца "прибыль"
data['profit'] = data['revenue'] - data['budget']

In [6]:
# преобразование столбца "release_date"
data['release_date'] = pd.to_datetime(data.release_date)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null datetime64[ns]
vote_average            1889 non-null float64
release_year            1889 non-null int64
profit                  1889 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = "2. Gods and Generals (tt0279111)"

In [12]:
data.loc[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [14]:
data.loc[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [15]:
data.runtime.mean()

109.6585494970884

In [16]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [17]:
data.runtime.median()

107.0

In [18]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [20]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [21]:
data.loc[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [22]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
data.original_title[data.revenue > data.budget].count()

1478

In [24]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
data[data['release_year'] == 2008].query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

In [26]:
answers['9'] = '4. The Dark Knight (tt0468569)'

ВАРИАНТ 2

In [27]:
data[data['release_year'] == 2008].sort_values('revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
data[data['release_year'] <= 2014].query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [29]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

ВАРИАНТ 2

In [30]:
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [31]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [32]:
data.genres.str.split('|').explode().value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [33]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

ВАРИАНТ 2

In [34]:
data[data.profit > 0].genres.str.split('|').explode().mode()[0]

'Drama'

In [35]:
answers['12'] = '1. Drama'

In [36]:
# вариант с количеством
data[data.profit > 0].genres.str.split('|').explode().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [37]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(5)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [38]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
data[data.genres.str.contains('Action')].director.str.split('|').explode().mode()[0]

'Robert Rodriguez'

In [40]:
answers['14'] = '3. Robert Rodriguez'

In [41]:
# или с выводом количества
data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Aleksander Bach       1
Wolfgang Petersen     1
Mikael HÃ¥fstrÃ¶m     1
Mike McCoy            1
Mathieu Kassovitz     1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
cols = ['cast', 'revenue']
df15 = data.query('release_year == 2012')[cols].copy()
# группируем по актерам и по кассовым сборам фильмов с их участием
df15.cast = df15.cast.str.split('|')
df15 = df15.explode('cast')
df15 = df15.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False)
df15.head(5)

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910

In [43]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
cols = ['cast', 'budget']
df16 = data.query('budget > budget.mean()')[cols].copy()
# группируем по актерам и по колличеству фильмов с их участием
df16.cast = df16.cast.str.split('|')
df16 = df16.explode('cast')
df16 = df16['cast'].value_counts()
df16.head(5)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
Name: cast, dtype: int64

In [45]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [46]:
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().mode()[0]

'Action'

In [47]:
# или с выводом количества
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [48]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [49]:
df18 = data[data.production_companies.str.contains('Paramount Pictures')] # фильтр по production_companies
df18.loc[df18['profit'] == df18['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

In [50]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

In [52]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
df20 = data[data.production_companies.str.contains('Warner Bros')]
df20.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending=False)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

In [54]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [56]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [57]:
cols = ['release_date', 'original_title']
df22 = data.query('5 < release_date.dt.month < 9')[cols].copy()
df22.release_date.dt.month.value_counts().sum()

450

In [58]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [59]:
cols = ['release_date', 'director']
df23 = data.query('release_date.dt.month in ["1", "2", "12"]')[cols].copy()
df23['director'] = df23.director.str.split('|')
df23.director.explode().mode()[0]

'Peter Jackson'

In [60]:
# или с выводом количества
df23.director.explode().value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
                    ..
Andy Muschietti      1
Kenneth Branagh      1
Ron Clements         1
Ron Shelton          1
Daniel Barnz         1
Name: director, Length: 358, dtype: int64

In [61]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [63]:
df24 = data[['original_title', 'production_companies']]
df24.original_title = df24['original_title'].str.len() # подсчёт кол-ва слов
df24.production_companies = df24.production_companies.str.split('|')
df24 = df24.explode('production_companies')
df24.groupby('production_companies')['original_title'].mean().idxmax()

'Four By Two Productions'

In [64]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [65]:
df25 = data[['overview', 'production_companies']]
df25.overview = df25['overview'].str.split(' ').str.len() # подсчёт кол-ва слов
df25.production_companies = df25.production_companies.str.split('|')
df25 = df25.explode('production_companies')
df25.groupby('production_companies')['overview'].mean().idxmax()

'Midnight Picture Show'

In [66]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [67]:
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

In [68]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
data.cast.str.split('|').apply(lambda x: list(combinations(x, 2))).explode().mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

In [70]:
# с количеством
data.cast.str.split('|').apply(lambda x: list(combinations(x, 2))).explode().value_counts()

(Daniel Radcliffe, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)             8
(Rupert Grint, Emma Watson)                 7
(Johnny Depp, Helena Bonham Carter)         6
(Ben Stiller, Owen Wilson)                  6
                                           ..
(Vanessa Ferlito, Sydney Tamiia Poitier)    1
(Brad Pitt, Vinnie Jones)                   1
(Chris Tucker, Max von Sydow)               1
(Anton Yelchin, David Tennant)              1
(Mel Gibson, Madeleine Stowe)               1
Name: cast, Length: 18121, dtype: int64

In [71]:
answers['27'] = '1. Daniel Radcliffe & Rupert Grint'

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '1. Daniel Radcliffe & Rupert Grint'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

27